# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/

# Ignore .idea directory
.idea

# Ignore target directories
**/target

# Ignore .flattened-pom.xml files
**/.flattened-pom.xml
.flattened-pom.xml

# Ignore specific IntelliJ IDEA project file
**/*.iml

*/.iml

/ticketflow.iml
/ticketflow-base-data-client.iml
/ticketflow-id-generator-framework.iml
/ticketflow-redis-stream-framework.iml
/ticketflow-redis-common-framework.iml
/ticketflow-redis-framework.iml

logs
/ticketflow-common/target/
/.vscode/settings.json
